.innerBox {
  align-items: center;
  background-color: #eeeeee;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.innerBox.inactive {
  border: 1px solid darkgray;
  color: darkgray;
}

.innerBox:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.innerBox.inactive:hover {
  background-color: #eeeeee;
  cursor: auto;
}

.shaking {
  animation: tiltShaking 0.3s infinite;
}

@keyframes tiltShaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2.5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-2.5deg); }
  100% { transform: rotate(0deg); }
}