.innerBox {
  align-items: center;
  background-color: #eeeeee;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.innerBox.inactive {
  border: 1px solid darkgray;
  color: darkgray;
}

.innerBox:hover {
  background-color: #dddddd;
  cursor: pointer;
}

.innerBox.inactive:hover {
  background-color: #eeeeee;
  cursor: auto;
}
