#wordEntryContainer {
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgray;
  box-sizing: border-box;
  display: flex;
  margin-top: 20px;
  padding: 5px;
  width: 500px;
}

#wordEntryContainer.inactive {
  color: darkgray;
}

#wordEntryContainer.active {
  background-color: greenyellow;
  border: 1px solid limegreen;
  box-shadow: 0 0 25px greenyellow;
  font-weight: bold;
}

.labelContainer {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
  text-align: center;
}

.inputContainer {
  flex: auto;
}

.inputContainer input {
  border-radius: 5px;
  box-sizing: border-box;
  text-transform: uppercase;
  width: 100%;
}

.inputContainer input:focus {
  border-color: limegreen;
  outline: none !important;
}